@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body,
html {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #8DCBE6;
}

nav {
  position: fixed;
  width: 100%;
  height: 10vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  z-index: 1000;
}

nav>.navBox {
  min-width: 90%;
  height: 90%;
  background-color: whitesmoke;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.navHeader {
  font-weight: bolder;
  font-size: xx-large;
}

.navBox>button {
  padding: .5rem 2rem;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
  font-weight: bolder;
  background-color: transparent;
  color: black;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.navBox>button:hover {
  color: whitesmoke;
  background-color: #8DCBE6;

}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  place-items: center;
}

.modalBox {
  position: relative;

  border-radius: 1rem;
  width: 90%;
  min-height: 90%;
  background-color: whitesmoke;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}

.modal.active {
  display: grid;
}

.modal.active>.modalBox {

  animation: slideInLeft 1s;
}

.modal.preexit>.modalBox {
  animation: slideOutLeft 1s forwards;
}

.modalContent {
  min-width: 95%;
  min-height: 90%;

}

.modalHead {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

.modalExit {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modalExit>span {
  position: absolute;
  top: 50%;
  left: 0;
  translate: -50% 0;
  width: 40px;
  height: 5px;
  background-color: red;
  border-radius: 1rem;
}

.modalExit>span:first-child {
  transform: rotate(45deg);
}

.modalExit>span:last-child {
  transform: rotate(-45deg);
}

body:has(.modal.active) {
  overflow-y: hidden;
}

main {
  width: 90%;
  min-height: 100vh;
  background-color: whitesmoke;
  border-radius: 1rem;
  margin: 0 auto;
}



tbody {
  position: relative;
  width: max-content;
  height: max-content;
}
tbody.loading::after {
  content: "Loading";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  top : 0;
  left : 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: whitesmoke;
  font-weight: bolder;
  font-size: xx-large;
}

.pagination {
  font-weight: bolder;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageArrow {
  cursor: pointer;
  user-select: none;
}

